.ty-card {
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.4s;
}

.ty-card:hover {
  box-shadow: 0 0 3px 3px rgba(100, 100, 100, 0.1), 0 0 0 1px rgba(100, 100, 100, 0.1)
}

.ty-card .card-content {
  padding: 0.5rem 1rem;
}
